.PWABadge {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.PWABadge-toast {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 8px;
  z-index: 1000;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dark .PWABadge-toast {
  background-color: #1a1a1a;
  color: white;
}

.PWABadge-message {
  margin-bottom: 8px;
  font-size: 14px;
}

.PWABadge-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.PWABadge-toast-button {
  border: 1px solid #8885;
  outline: none;
  margin-right: 5px;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.PWABadge-toast-button:hover {
  background-color: #8882;
}
